<template>
    <h1>Welcome at admin dashboard</h1>
</template>
<script>
export default {
  name: "Dashboard",
  data() {
    return {
     
    }
  },
   mounted() {
  },
  methods: {
    
  }
}
</script>
