<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" ref="sidebar">
        <router-link :to="`/${$store.state.profile.role}`" class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
            <i class="fa fa-info-circle" style="font-size:48px;"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Speed<sup>Media</sup></div>
        </router-link>

        <hr class="sidebar-divider my-0">

        <li class="nav-item">
            <router-link :to="`/${$store.state.profile.role}`" class="nav-link" exact>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
            </router-link>
        </li>

        <hr class="sidebar-divider">

        <li class="nav-item">
            <router-link to="/admin/all-users" class="nav-link" exact>
            <i class="fas fa-users" style="font-size:20px;"></i>
            <span>All Users</span>
            </router-link>
        </li>

        <li class="nav-item">
            <router-link to="/admin/add-user" class="nav-link" exact>
            <i class="fas fa-user" style="font-size:20px;"></i>
            <span>Add User</span>
            </router-link>
        </li>

        <hr class="sidebar-divider">

        <li class="nav-item">
            <router-link to="/admin/pets" class="nav-link"  exact>
            <i class="fas fas fa-user fa-sm fa-fw"></i>
                <span>Pets</span>
                </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/admin/add-pet" class="nav-link"  exact>
            <i class="fas fas fa-user fa-sm fa-fw"></i>
                <span>Add Pet</span>
                </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/admin/all-pets" class="nav-link"  exact>
            <i class="fas fas fa-user fa-sm fa-fw"></i>
                <span>All Pets</span>
                </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/admin/chat" class="nav-link"  exact>
            <i class="fas fas fa-user fa-sm fa-fw"></i>
                <span>Chat</span>
                </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/admin/app-component" class="nav-link"  exact>
            <i class="fas fas fa-user fa-sm fa-fw"></i>
                <span>App Component</span>
                </router-link>
        </li>
        <hr class="sidebar-divider d-none d-md-block" />

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0 mt-3" id="sidebarToggle" v-on:click="toggleSidebar"></button>
        </div>
    </ul>
</template>

<script>
export default {
  name: "Sidebar",
  mounted() {
    this.toggleSidebar();
  },
  methods: {
    toggleSidebar() {
      document
        .getElementsByTagName("body")[0]
        .classList.contains("sidebar-toggled")
        ? document
            .getElementsByTagName("body")[0]
            .classList.remove("sidebar-toggled")
        : document
            .getElementsByTagName("body")[0]
            .classList.add("sidebar-toggled");
      this.$refs.sidebar.classList.contains("toggled")
        ? this.$refs.sidebar.classList.remove("toggled")
        : this.$refs.sidebar.classList.add("toggled");3
    }
  }
};
 </script>
