<template><div>

    <b-card>
        <b-card-header header-tag="header">

          
          <b-form inline>

            <b-form-input v-model="name" placeholder="Enter your name"></b-form-input>
            
            <b-button variant="primary" @click.prevent="join">Join</b-button>
          </b-form>
          
        </b-card-header>

        <form ref="form">

            <ul>
                
                <li v-for="data in messages"> 
                    <a href="#" @click.prevent="toOne(data.id, data.name)"> {{ data.name }}</a>
                     : {{ data.message }}
                </li>
                
            </ul>

            <hr>
            <b-form-group>
                <b-form-textarea
                        id="body"
                        placeholder="Send a message ..."
                        rows="3"
                        no-resize
                        v-model="form_message"
                ></b-form-textarea>
            </b-form-group>

            <b-button @click="sendMessage" variant="primary">Submit</b-button>

            <b-button @click="sendTo" variant="primary">To {{ toParticipant.toName }}</b-button>
        </form>
        
        <pre>
          {{ participants }}
        </pre>
    </b-card>
    
</div></template>

<script>
    
    import io from "socket.io-client"
    
    export default {
        name: "ChatComponent",

        created() { this.socket = io("192.168.1.3:3000") },
        
        data(){
            return {
                name: "",
                socket: {},
                socket_id : null,
                form_message : '',
                prv_message : '',
                
                messages: [],
                
                participants: [],
                toParticipant: {
                    Id: "",
                    Name: "",
                    message: ""
                },
            }
        },
        
        mounted() {
          
            this.socket.on("user_joined", data => {
                this.participants.push(data)
                this.socket_id = data.socket_id
            })
          
            this.socket.on("chat_message", data => {
                this.messages.push(data)
            })

            this.socket.on("received_from", data => {
                this.messages.push(data)
            })
        },


        methods : {

            sendMessage(){
                this.socket.emit("chatMessage", { name: this.name, message: this.form_message});
                this.form_message = ""
            },

            toOne(id, name, message) {
                this.toParticipant.id = id
                this.toParticipant.name = name
                this.toParticipant.message = message
            },

            sendTo(){
                console.log(this.toParticipant)
                this.messages.push( "To " + this.toParticipant.name + " : " + this.toParticipant.message)
                
                this.socket.emit("sent_to_one", { 
                    id: this.toParticipant.id, 
                    name : this.name,
                    message: this.form_message,
                });
            },
          
            join(){
              this.socket.emit("user_joined_the_chat",  {
                name: this.name
              })
            }
            
        }
    }
</script>

<style scoped>

</style>