<template>
    <div class="welcome">
        <div id="wrapper">
            <router-view />
        </div>
    </div>
</template>

<script>
    export default {
        name: 'App',
        components: {
        },
    }
</script>
