<template>
      <h1>Welcome at Home Page</h1>
</template>

<script>
    export default {
        name: 'Home',
        data() {
            return {
                

                errors: {}
            }
        },
        methods:{
            
        }

    }
</script>
