<template>
    <div>

        <b-row class="justify-content-md-center">
            <b-col cols="2" v-if="$route.name !== 'petInfos'">
    
                <b-list-group>
                    <router-link exact :to="{ name: 'allUsers'}" class="list-group-item list-group-item-action">
                        All users
                    </router-link>
                    <router-link exact :to="{ name: 'newUser'}" class="list-group-item list-group-item-action">
                        New user
                    </router-link>
                    <router-link exact :to="{ name: 'chat'}" class="list-group-item list-group-item-action">
                        Chat
                    </router-link>
                    
                </b-list-group>
    
            </b-col>
    
            <b-col>
    
                <transition
                        name="fade"
                        mode="out-in"
                >
                    <router-view/>
                </transition>
    
            </b-col>
        </b-row><br>
    </div>
</template>

<script>
    export default {
        name: "AppComponnent",
        methods:{
        }
    }
</script>

<style scoped>
    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.2s;
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0
    }
</style>