<template>
    <b-modal ref="add_pet_modal" id="add-pet-modal" title="Add a pet" hide-footer size="xl">
        
        <b-form @submit.prevent="addPet">


            <b-form-group id="name" label="Pet Name:" label-for="name">
                <b-form-input
                        id="name"
                        v-model="pet.name"
                        required
                        placeholder="Enter name"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="species" label="Species:" label-for="input-3">
                <b-form-select
                        id="species"
                        v-model="pet.species"
                        :options="species"
                        required
                ></b-form-select>
            </b-form-group>

            <b-form-group id="birthday" label="Birthday:" label-for="input-3">

                <b-form-datepicker id="birthday" 
                                   v-model="pet.birthday" 
                                   placeholder="Choose a date"
                                   class="mb-2">
                    
                </b-form-datepicker>
                
            </b-form-group>

            <b-form-group id="genre" label="Genre:" label-for="input-3">
                <b-form-select
                        id="genre"
                        v-model="pet.genre"
                        :options="genres"
                        required
                ></b-form-select>
            </b-form-group>

            <b-form-group id="vaccine" label="Vaccine:" label-for="name">
                <b-form-input
                        id="vaccine"
                        v-model="pet.vaccine"
                        required
                        placeholder="Enter vaccine"
                ></b-form-input>
            </b-form-group>


            <b-form-group id="vaccine_date" label="Vaccine date:" label-for="name">
                <b-form-datepicker id="vaccine_date" v-model="pet.vaccine_date" class="mb-2"></b-form-datepicker>
            </b-form-group>
            
            <b-form-group id="preferences" label="Your preferences:" label-for="name">
                <b-form-input
                        id="preferences"
                        v-model="pet.preferences"
                        required
                        placeholder="Enter vaccine"
                ></b-form-input>
            </b-form-group>
            
            <b-form-group label="Choose an image:" label-for="image">
                <b-file  v-model="picture" id="image" accept="images/*"></b-file>
            </b-form-group>
            <br>
            <br>
            <b-button type="submit" variant="success">Submit</b-button>
        </b-form>

        <pre>{{ pet }}</pre>
        <br>
        <pre>{{ user }}</pre>
    </b-modal>
</template>

<script>
    export default {
        props: ['user'],
        name: "AddPetComponent",
        
        data(){
            return {
                species : [
                    { value: null, text: 'Please select an option' },
                    { value: 'dog', text: 'Dog' },
                    { value: 'cat', text: 'Cat' },
                    { value: 'bird', text: 'Bird' },
                    { value: 'horse', text: 'Horse' },
                    { value: 'other', text: 'Other' },
                ],
                
                genres: [
                    { value: 'male', text: 'Male' },
                    { value: 'female', text: 'Female' },
                ],
                
                pet: {
                    name: '',
                    species: '',
                    birthday: '',
                    genre: '',
                    vaccine: '',
                    vaccine_date: '',
                    preferences: '',
                },

                picture: null,
            }
        },

        methods: {
            
            addPet(){
                axios.post('/api/pets', {
                    'pet' : this.pet, 'user_id' : this.user})
                    .then( resp  => {
                        this.$refs.add_pet_modal.hide();
                        console.log(resp.data);
                    });
            },
            
        },
    }
</script>

<style scoped>

</style>