<template>

    <b-modal id="all-pets-modal" @shown="getAllPets" :title="owner_name" hide-footer size="xl">

        <b-container>
            <b-row>
                <b-col cols="5">
                    <b-input-group>
                        <b-input-group-prepend is-text>
                            <b-icon icon="search"></b-icon>
                        </b-input-group-prepend>
                        <b-form-input type="search" placeholder="Rechercher" v-model="filter"/>
                        <b-input-group-append>
                            <b-button size="sm" variant="success" @click="getAllPets">
                                <b-icon icon="arrow-repeat"></b-icon>
                            </b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-col>
            </b-row>

        </b-container>

        <br>
        
        <b-table sort-by="nom"
                 show-empty
                 :filter="filter" :filterIncludedFields="filterOn"
                 :items="pets" :fields="fields"
                 striped
                 :per-page="perPage" :current-page="currentPage"
                 @filtered="onFilter"
        >
            
            <template v-slot:cell(act)="data">
                <b-button-group size="sm">

                    <b-button @click="setActive(data.item.id)" variant="success"
                              v-b-tooltip.hover title="Set Active">
                        <b-icon icon="check"></b-icon>
                    </b-button>

                    <b-button
                            @click="editPet(data.item.id)" variant="primary"
                            v-b-tooltip.hover title="Edit">
                        <b-icon icon="pencil"></b-icon>
                    </b-button>

                    <b-button @click="deletePet(data.item.id)" variant="danger" 
                              v-b-tooltip.hover title="Supprimer">
                        <b-icon icon="trash"></b-icon>
                    </b-button>
                </b-button-group>
            </template>
            
        </b-table>

        <b-pagination v-model="currentPage" :total-rows="totalRows"
                      :per-page="perPage" align="center" last-number
        />
        
    </b-modal>
    
</template>

<script>
    export default {
        name: "AllPetsComponent",
        props: ['owner'],
        
        data(){
            return {
                pets: [],
                pet: [],
                owner_name: '',
                
                fields: [
                    {
                        key: 'id',
                        label: '#'
                    },
                    {
                        key: 'name',
                        label: 'Nom'
                    },
                    {
                        key: 'species',
                        label: 'Species',
                        formatter: (value, key, item) => {
                            let species = "";
                            switch (item.species) {
                                case 'dog' :
                                    species = "Chien";
                                    break;
                                case 'cat' :
                                    species = "Chat";
                                    break;
                                case 'bird' :
                                    species = "Oiseau";
                                    break;
                                case 'horse' :
                                    species = "Cheval";
                                    break;
                                default : species = 'Autre'
                            }

                            return species;
                        },
                    },
                    {
                        key: 'birthday',
                        label: 'B.Day'
                    },
                    {
                        key: 'genre',
                        label: 'Genre',
                        formatter: (value, key, item) => {
                            let genre = "";
                            switch (item.genre) {
                                case 'male' :
                                    genre = "Male";
                                    break;
                                case 'female' :
                                    genre = "Femelle";
                                    break;
                            }

                            return genre;
                        },
                    },
                    {
                        key: 'preferences',
                        label: 'Préférences'
                    },
                    {
                        key: 'act',
                        label: 'Action'
                    },
                    
                ],
                
                filterOn : ["name", "species", "genre"],
                filter: "",

                currentPage: 1,
                perPage: 5,
                totalRows:2,
                
            }
        },

        methods: {
            getAllPets(){
                axios.get('/api/users/' + this.owner)
                    .then( response => {
                        this.pets = response.data.pets
                        this.owner_name = response.data.name
                        
                        if (pets.data.currentpage < pets.data.last_page) {
                        this.moreExists = true;
                        this.nextpage = pets.data.currentpage + 1;
                        } else {
                            this.moreExists = false;
                        }

                        this.currentpage = 1
                        this.totalRows = this.pets.length

                        console.log(response.data[0])
                    } )
            },

            showPet(id){
                axios.get('/api/pets/' + id)
                    .then( response => {
                        console.log(response.data);
                    } )
            },

            deletePet(id){
                axios.delete('/api/pets/' + id)
                    .then( () => {
                        this.getAllPets();
                    })
            },

            editPet(id){
                axios.get('/api/pets/' + id)
                    .then( resp => {
                        this.pet = resp.data;
                        console.log(this.pet)
                    })
            },
            
            setActive(id){
                axios.post('/api/pets/' + id + '/setActive')
            },

            //    Pagination filter
            onFilter(filtered){
                this.totalRows = filtered.length
                this.currentpage = 1
            }
        }
    }
</script>

<style scoped>

    
</style>