<template><div>

    <b-row>
        <b-col cols="3">
            <b-card>
                <b-card-text>
                    <b-img v-bind="mainProps"
                           :src="pet.pic_url"
                           center rounded="circle" alt="Circle image"/>
                    <br><h5 style="text-align: center">{{ pet.name | capitalize}}</h5>
                    <hr>
                    <p>
                        <b>Species :</b> {{ pet.species | capitalize }}
                    </p>

                </b-card-text>
            </b-card>
        </b-col>

        <b-col cols="9">

            <b-card header="Pet posts" header-tag="header">

                <b-card-text>
                    <b-container>
                        <b-row align-h="between">
                            <b-col cols="6">
                                <b-input-group>
                                    <b-input-group-prepend is-text>
                                        <b-icon icon="search"></b-icon>
                                    </b-input-group-prepend>
                                    <b-form-input type="search" placeholder="Rechercher" v-model="filter"/>
                                    <b-input-group-append>
                                        <b-button size="sm" variant="success" @click="getAllPosts">
                                            <b-icon icon="arrow-repeat"></b-icon>
                                        </b-button>
                                    </b-input-group-append>
                                </b-input-group>

                            </b-col>

                            <b-col cols="6">
                                <b-button v-b-modal.modal-add-post variant="success">
                                    <b-icon icon="plus"></b-icon>
                                </b-button>
                            </b-col>
                        </b-row>

                    </b-container>

                    <hr>


                    <b-table sort-by="nom"
                             show-empty
                             :filter="filter" :filterIncludedFields="filterOn"
                             :items="posts" :fields="fields"
                             striped
                             :per-page="perPage" :current-page="currentPage"
                             @filtered="onFilter"
                    >

                        <template v-slot:cell(image_url)="data">
                            <b-img :src="data.item.media_url" width="100" fluid alt="Fluid image"></b-img>
                        </template>

                        <template v-slot:cell(act)="data">
                            <b-button-group size="sm">

                                <b-button @click="deletePost(data.item.id)" variant="danger" v-b-tooltip.hover title="Supprimer">
                                    <b-icon icon="trash"></b-icon>
                                </b-button>
                                
                            </b-button-group>
                        </template>
                        
                    </b-table>

                    <br>
                    

                    <b-pagination v-model="currentPage" :total-rows="totalRows"
                                  :per-page="perPage" align="center" last-number
                    />
                    
                </b-card-text>
                
            </b-card>
        </b-col>
    </b-row>

    <!--  Modal -->

    <b-modal
            hide-footer
            id="modal-add-post"
            ref="modal"
            title="Add a post"
            @show="resetModal"
    >
        <form ref="form">

            <b-form-group
                    label="Type"
                    label-for="type"
            >
                <b-form-select v-model="post.type" id="type" :options="options"></b-form-select>
            </b-form-group>


            <b-form-group
                    label="Description"
                    label-for="body"
            >
                <b-form-textarea
                        id="body"
                        placeholder="Description"
                        rows="3"
                        no-resize
                        v-model="post.body"
                ></b-form-textarea>
            </b-form-group>

            <b-button @click="addPost" variant="primary">Submit</b-button>
        </form>
        
        {{ post }}
    </b-modal>
</div></template>

<script>
    export default {
        name: "PetInfosComponent",
        
        data(){
            return {
                pet : [],
                posts: [],
                post: {
                    pet_id : this.$route.params.petId,
                    type: '',
                    body: ''
                },
                
                options: [
                    {value : 'normal', text: 'Normal'},
                    {value : 'images', text: 'Images'},
                    {value : 'video', text: 'Video'},
                ],
                
                currentPage : 1,
                totalRows : 1,
                perPage: 5,
                filter : '',
                filterOn: ['body', 'type'],
                
                fields: [
                    {
                      key: 'image_url',
                      label: ''  
                    },

                    {
                        key: 'body',
                        label: 'Description',
                        formatter: (value, key, item) => {
                            let species = "";
                            
                            if (item.body.length > 100) {
                                species = item.body.substr(0, 100);
                            }
                            else {
                                species = item.body
                            }
                            return species + ' ...';
                        },
                    },

                    {
                        key: 'type',
                        label: 'Type',
                        formatter: (value, key, item) => {
                            let species = "";
                            switch (item.type) {
                                case 'normal' :
                                    species = "Statut";
                                    break;
                                case 'image' :
                                    species = "Image";
                                    break;
                                case 'video' :
                                    species = "Vidéo";
                                    break;
                            }

                            return species;
                        },
                    },

                    {
                        key: 'image_url',
                        label: 'URL'
                    },

                    {
                        key: 'act',
                        label: 'Action'
                    },
                    
                    
                ],

                mainProps: { blankColor: '#777', width: 100, height: 100, class: 'm1' },

            }
        },
        
        filters: {
            capitalize: value => {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },
        
        mounted() {
            
            axios.get('/api/pets/'+ this.$route.params.petId)
                .then( resp => {
                    this.pet = resp.data;
                })

            this.getAllPosts();
        },

        methods: {
            
            getAllPosts(){
                var pet_id = this.$route.params.petId; 
                axios.get('/api/pets/' + pet_id +'/posts')
                    .then( response => {
                        this.posts = response.data
                        this.totalRows = response.data.length
                    } )
            },

            addPost(){
                axios.post('/api/posts', this.post)
                    .then( () => {
                        this.$bvModal.hide('modal-add-post');
                        this.getAllPosts();
                    } )
            },

            deletePost(id){
                axios.delete('/api/posts/' + id)
                    .then( () => {
                        this.getAllPosts();
                    })
            },

            editPet(id){
                axios.get('/api/posts/' + id)
                    .then( resp => {
                        this.pet = resp.data;
                        console.log(this.pet)
                    } ) 
            },

            //    Pagination filter
            onFilter(filtered){
                this.totalRows = filtered.length
                this.currentpage = 1
            },


            resetModal(){
                this.post = {
                    pet_id : this.$route.params.petId,
                        type: '',
                        body: ''
                };
            },
        }
    }
</script>

<style scoped>

    
</style>