<template>
    <div class="" style="margin-left:130px;">
        <div class="dashboard-title fl-wrap" style="margin-left:50px; margin-top:80px">
            <h3>Change Password</h3>
        </div>
        <br>
        <div class="modal-body px-4 px-sm-5 pt-0">
            <form v-on:submit.prevent="changePassword">
                <div class="col-md-12">
                    <label for="current_password" class="form-control-label">Current Password <i class="fas fa-lock"></i></label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="current_password" :type="currentPasswordHidden ? 'password' : 'text'" v-model="password.current_password" placeholder="Enter password" class="form-control"  />
                            </div>
                            <div class="col-md-2" style="margin-top:2px;">
                                <button type="button" class="form-control-icon_wrapper icon-eye" v-on:click="currentPasswordHidden = !currentPasswordHidden">
                                    <span><i v-if="currentPasswordHidden" class="far fa-eye ion-md-eye"></i> <i v-else class="fas fa-eye-slash ion-md-eye-off" id="registerPasswordVisibleCharacters"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="invalid-feedback" v-if="errors.current_password">{{errors.current_password[0]}}</div>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <label for="new_password" class="form-control-label">New Password <i class="fas fa-key"></i></label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="new_password" :type="currentPasswordHidden ? 'password' : 'text'" v-model="password.new_password" placeholder="Enter password" class="form-control"  />
                            </div>
                            <div class="col-md-2" style="margin-top:2px;">
                                <button type="button" class="form-control-icon_wrapper icon-eye" v-on:click="currentPasswordHidden = !currentPasswordHidden">
                                    <span><i v-if="currentPasswordHidden" class="far fa-eye ion-md-eye"></i> <i v-else class="fas fa-eye-slash ion-md-eye-off" id="registerPasswordVisibleCharacters"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="invalid-feedback" v-if="errors.new_password">{{errors.new_password[0]}}</div>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <label for="new_password_confirmation" class="form-control-label">Confirm Password <i class="fas fa-key"></i></label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="new_password_confirmation" :type="currentPasswordHidden ? 'password' : 'text'" v-model="password.new_password_confirmation" placeholder="Enter password" class="form-control"  />
                            </div>
                            <div class="col-md-2" style="margin-top:2px;">
                                <button type="button" class="form-control-icon_wrapper icon-eye" v-on:click="currentPasswordHidden = !currentPasswordHidden">
                                    <span><i v-if="currentPasswordHidden" class="far fa-eye ion-md-eye"></i> <i v-else class="fas fa-eye-slash ion-md-eye-off" id="registerPasswordVisibleCharacters"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="invalid-feedback" v-if="errors.new_password_confirmation">{{errors.new_password_confirmation[0]}}</div>
                    </div>
                </div>
                <br>
                <div class="col-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="fas fa-sync"></span> Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import * as authService from "../../services/auth_service";
    export default {
        name: "change-password",
        data() {
            return {
                password: {
                    current_password: "",
                    new_password: "",
                    new_password_confirmation: ""
                },
                currentPasswordHidden: true,
                newPasswordHidden: true,
                newPasswordConfirmationHidden: true,
                errors: {}
            };
        },
        methods: {
            changePassword: async function() {
                try {
                    const response = await authService.changePassword(
                        this.password
                    );
                    this.errors = {};
                    this.password = {
                        current_password: "",
                        new_password: "",
                        new_password_confirmation: ""
                    };

                    this.flashMessage.success({
                        message: response.data.message,
                        time: 5000
                    });
                    this.$router.push('/');
                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 401:
                            this.errors = {};
                            this.flashMessage.info({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.errors = {};
                            this.flashMessage.error({
                                message: "Some error occurred please try again",
                                time: 5000
                            });
                            break;
                    }
                }
            }
        }
    };
</script>
