<!--<template>
    <div>

        <b-navbar class="shadow-sm navbar-expand-md" toggleable="sm" type="light" variant="light">
            <div class="container">

                <b-navbar-brand :to="{name: 'allUsers'}">
                    <img style="height: 45px" :src="img"/>
                </b-navbar-brand>
            </div>
        </b-navbar>
        
    </div>
</template>-->

<script>
    
    export default {
        name: "NavBarComponent",
        // props: ['img'],
        
        data(){
            return {
                
            }
        },
        
        methods : {
        }
    }
</script>