<template><div>

    <b-card header="Test API Form" header-tag="header">

        <b-overlay
                :show="overlayShow"
                opacity="0.5"
                blur="1px"
                spinner-variant="primary"
        >
            <b-form @submit.prevent="onSubmit" @reset="onReset">

              <b-form-group id="fname-group" label="Your Firstname:" label-for="fname">
                <b-form-input
                    id="first_name"
                    v-model="form.first_name"
                    required
                    placeholder="Enter name"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="lname-group" label="Your Lastname :" label-for="lname">
                <b-form-input
                    id="last_name"
                    v-model="form.last_name"
                    required
                    placeholder="Enter name"
                ></b-form-input>
              </b-form-group>
    
              <b-form-group id="email-group" label="Email address :" label-for="email">
                    <b-form-input
                            id="email"
                            v-model="form.email"
                            type="email"
                            required
                            placeholder="Enter email"
                    ></b-form-input>
                </b-form-group>
              
              <b-form-group id="password-group" label="Passsword :" label-for="password">
                    <b-form-input
                            id="password"
                            type="password"
                            v-model="form.password"
                            required
                            placeholder="Enter password"
                    ></b-form-input>
                </b-form-group>
              
              <b-form-group id="city-group" label="Your City:" label-for="city">
                    <b-form-input
                            id="city"
                            v-model="form.city"
                            required
                            placeholder="Enter city"
                    ></b-form-input>
                </b-form-group>
              
              <b-form-group id="locale-group" label="Language :" label-for="city">
                <b-form-select v-model="form.locale_language" :options="locales"></b-form-select>
              </b-form-group>
    
                
              <b-form-group id="pro-group">
                    <b-form-checkbox v-model="form.pro" name="pro">
                        I'm a professionnal
                    </b-form-checkbox>
                </b-form-group>
    
              <b-button type="submit" variant="success">Submit</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            
            </b-form>
            
        </b-overlay>
        
        <br>
        <pre>{{ form }}</pre>
        <hr>
        <br>
<!--        <pre>{{ form }}</pre>-->

            
        <b-form @submit.prevent="activate" v-show="registred">
            <b-form-group id="input-group-2" label="Activation code (Check your email box) :" label-for="input-2">
                <b-form-input
                        id="input-2"
                        v-model="validationCode"
                        required
                        placeholder="Activation code"
                ></b-form-input>

            </b-form-group>

            <b-button type="submit" variant="success">Activate</b-button>
        </b-form>
    </b-card>
    
</div></template>


<script>
    export default {
        data() {
            return {
                overlayShow: false,
                locales : [
                  { value: 'fr', text: 'Français' },
                  { value: 'en', text: 'English' },
                ],
                form: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                    city: '',
                    pro: false,
                    locale_language: '',
                },
                validationCode : null,
                registred : false,
                
                
            }
        },
        methods: {
            onSubmit() {
                this.overlayShow = true
                axios.post('/api/users', this.form)
                    .then( response => {
                        this.registred = true;
                        this.overlayShow = false
                        this.form = response.data.user
                        console.log(response.data)
                    } )
                console.log(this.form)
            },
            
            onReset() {
                this.form.email = ''
                this.form.name = ''
                this.form.password = ''
                this.form.city = ''
                this.form.pro = false
            },

            activate(){
                axios.post('/api/auth/' + this.form.id + '/activate', { "activation_token" : this.form.activation_token} )
                    .then( response => {
                        if (response.data.status === 'success') {
                            // this.$router.push({name: 'allUsers'})
                          console.log(response.data.token);
                        }
                    })
            },
        }
    }
</script>