Inactive<template><div>

    <b-card header="All users" header-tag="header">

        <b-container>
            <b-row>
                <b-col cols="5">
                    <!-- <b-input-group>
                        <b-input-group-prepend is-text>
                            <b-icon icon="search"></b-icon>
                        </b-input-group-prepend>
                        <b-form-input type="search" placeholder="Rechercher" v-model="filter"/>
                        <b-input-group-append>
                            <b-button size="sm" variant="success" @click="getAllUsers">
                                <b-icon icon="arrow-repeat"></b-icon>
                            </b-button>
                        </b-input-group-append>
                    </b-input-group> -->
                    
                </b-col>
                
                <b-col>
                    <b-button right v-b-modal.reset-password-modal variant="warning">
                        Reset Password
                    </b-button>
                </b-col>
            </b-row>
            
        </b-container>

        <br>
        
        <b-table sort-by="name"
                 show-empty
                 :filter="filter" :filterIncludedFields="filterOn"
                 :items="users" :fields="fields" striped
                 :per-page="perPage" :current-page="currentPage"
                 @filtered="onFilter">

            <template v-slot:cell(name)="data">
              <span>{{ data.item.first_name }} {{ data.item.last_name }}</span>
            </template>
          
            <template v-slot:cell(pro)="data">
                <span v-if="data.item.pro === '1'">Professional</span>
                <span v-else>Individual</span>
            </template>

            <template v-slot:cell(active)="data">
                <span class="text-success" v-if="data.item.active">Active</span>
                <span class="text-danger" v-else>Inactive</span>
            </template>


            <template v-slot:cell(act)="data">
                <b-button-group size="sm">

                    <b-button
                            @click="editAccount(data.item)" variant="primary" v-b-modal.edit-modal
                              v-b-tooltip.hover title="Activer">
                        <!-- <b-icon icon="pencil"></b-icon> -->
                    </b-button>

                    <b-button @click="deleteAccount(data.item.id)" variant="danger" v-b-tooltip.hover title="Supprimer">
                        <!-- <b-icon icon="trash"></b-icon> -->
                    </b-button>

                    <b-button v-b-modal.login-modal variant="success" @click="loginData.email = data.item.email" v-b-tooltip.hover title="Login">
                        <!-- <b-icon icon="lock"></b-icon> -->
                    </b-button>
                </b-button-group>
            </template>
          
            <template v-slot:cell(pet_act)="data">
                <b-button-group size="sm">
                    <b-button size="sm" variant="primary"
                              v-b-modal.all-pets-modal
                              @click="user_id = data.item.id"
                    > All </b-button>

                    <b-button size="sm" variant="success"
                              v-b-modal.add-pet-modal
                              @click="user_id = data.item.id"
                    > Add </b-button>
                </b-button-group>
            </template>
            
        </b-table>
        <br>
        
        <b-pagination v-model="currentPage" :total-rows="this.users.length"
                      :per-page="perPage" align="center" last-number
        />
        
    </b-card>


    <b-modal id="edit-modal" :title="update_form.name" hide-footer>
        <b-form @submit.prevent="updateAccount">


            <b-form-group id="name-group" label="Your Name:" label-for="name">
                <b-form-input
                        id="name"
                        v-model="update_form.name"
                        required
                        placeholder="Enter name"
                ></b-form-input>
            </b-form-group>


            <b-form-group id="email-group" label="Email address:" label-for="email">
                <b-form-input
                        id="email"
                        v-model="update_form.email"
                        type="email"
                        required
                        placeholder="Enter email"
                ></b-form-input>
            </b-form-group>


            <b-form-group id="password-group" label="Passsword:" label-for="password">
                <b-form-input
                        id="password"
                        type="password"
                        v-model="update_form.password"
                        placeholder="New password (optional)"
                ></b-form-input>
            </b-form-group>


            <b-form-group id="city-group" label="Your City:" label-for="city">
                <b-form-input
                        id="city"
                        v-model="update_form.city"
                        required
                        placeholder="Enter city"
                ></b-form-input>
            </b-form-group>



            <b-form-group id="pro-group">
                <b-form-checkbox v-model="update_form.pro" value="1" unchecked-value="0" name="pro">
                    I'm a professionnal
                </b-form-checkbox>
            </b-form-group>

            <br>
            <b-button type="submit" variant="success">Submit</b-button>
        </b-form>
        
        <pre>{{ update_form }}</pre>
    </b-modal>


    <b-modal hide-footer id="login-modal" title="Test login" @hidden="loginData.password = ''; loginResp = ''">

        <b-form>


            <b-form-group id="email-login" label="Email address:" label-for="email">
                <b-form-input
                        id="email"
                        v-model="loginData.email"
                        type="email"
                        required
                        disabled
                        placeholder="Enter email"
                ></b-form-input>
            </b-form-group>


            <b-form-group id="password-login" label="Passsword:" label-for="password">
                <b-form-input
                        id="password"
                        type="password"
                        v-model="loginData.password"
                        placeholder="Password"
                ></b-form-input>
            </b-form-group>


            <br>
            <b-button @click="tryLogin(loginData.email, loginData.password)" variant="success">Submit</b-button>
        </b-form>

        <pre>{{ loginResp }}</pre>

    </b-modal>

    <b-modal hide-footer id="reset-password-modal" ref="reset-password-modal" title="Test login" @hidden="onReset">

        <b-form>


            <b-form-group id="user-email" label="Email address:" label-for="email">
                <b-form-input
                        :disabled="reset_request.activation_code !== ''"
                        id="email"
                        v-model="reset_request.email"
                        type="email"
                        required
                        placeholder="Enter email"
                ></b-form-input>
            </b-form-group>

            <b-form-group v-if="isVerifiable" id="user-activation" label="Verification code:" label-for="email">
                <b-form-input
                        :disabled="reset_request.verified"
                        id="activation_code"
                        v-model="activation_code"
                        required
                        placeholder="Enter verification code"
                        :state="activation_code === reset_request.activation_code"
                ></b-form-input>
            </b-form-group>

            <b-form-group v-if="reset_request.verified" id="user-password" label="Verification code:" label-for="email">
                <b-form-input
                        id="password"
                        v-model="reset_request.password"
                        required
                        placeholder="Enter verification code"
                        :state="pass_match"
                ></b-form-input>
            </b-form-group>

            <b-form-group v-if="reset_request.verified" id="user-password-confirmation" label="Verification code:" label-for="email">
                <b-form-input
                        id="password-confirmation"
                        v-model="reset_request.password_confirmation"
                        required
                        placeholder="Enter verification code"
                        :state="pass_match"
                ></b-form-input>
            </b-form-group>
            
            <br>
            <b-button @click="resetCheckEmail" variant="success">Submit</b-button>
            <b-button v-if="pass_match" @click="resetPassword" variant="primary">Reset</b-button>
        </b-form>

        <pre>{{ reset_request }}</pre>
        <pre>{{ activation_code }} | {{ (this.activation_code === this.reset_request.activation_code) }}</pre>

    </b-modal>
    
    <addPetModal :user="user_id"></addPetModal>

    <allPetsModal :owner="user_id"></allPetsModal>
    
</div></template>

<script>
    
    
    import AddPetComponent from "../Pet/AddPetComponent";
    import AllPetsComponent from "../Pet/AllPetsComponent";
    import { BootstrapIconsPlugin } from 'bootstrap-icons-vue';
    import axios from 'axios';

    export default {
        name: "AllUsersComponnent",
        components :{
            'addPetModal' : AddPetComponent,
            'allPetsModal' : AllPetsComponent,
            BootstrapIconsPlugin
        },
        
    
        computed: {

            pass_match(){
                return (this.reset_request.password === '')? null : 
                    (this.reset_request.password === this.reset_request.password_confirmation);
            }
        },
        data(){
            return {
                activation_code : "",
                isVerifiable: false,
                
                reset_request: {
                    email : '',
                    activation_code :'',
                    password :'',
                    password_confirmation :'',
                    verified : false,
                },
                
                user_id: '',

                items: null,
                full_name: null,
                user: [],
                
                users: [],

                currentPage: 1,
                perPage: 10,
                totalRows:null,
                
                fields: [
                    {
                        key: 'id',
                        label: '#'
                    },
                    {
                        key: 'name',
                        label: 'Nom',
                    },
                    {
                        key: 'email',
                        label: 'Email'
                    },
                    {
                        key: 'city',
                        label: 'City'
                    },
                    {
                        key: 'pro',
                        label: 'Type',
                    },
                    {
                        key: 'active',
                        label: 'Status',
                    },
                    {
                        key:'act',
                        label:'Actions',
                    },
                    {
                        key:'pet_act',
                        label:'Pets',
                    },
                    
                ],
                
                
                filterOn : ['name','email', 'city'],
                filter : '',

                update_id : null,
                update_form: {},
                
                loginData: {
                    email: '',
                    password: '',
                },
                loginResp: '',
            }
        },
        
        mounted(){
            this.getAllUsers();
        },
        
        methods: {

            editAccount(form){
                this.update_id = form.id
                this.update_form = form
                
            },

            updateAccount(){
                axios.put('/api/users/' + this.update_id, this.update_form)
                    .then( response => {
                        console.log(response.data)
                        this.getAllUsers();
                        
                        this.$bvModal.hide('edit-modal');
                    } )
            },

            onReset() {
                this.update_form.email = ''
                this.update_form.name = ''
                this.update_form.password = ''
                this.update_form.city = ''
                this.update_form.pro = false
                this.isVerifiable = false

                this.reset_request = {
                    email: '',
                    activation_code :'',
                    password :'',
                    password_confirmation :'',
                    verified :false,
                };
                this.activation_code = "";
            },
            
            getAllUsers(){
                axios.get('/api/users')
                    .then( response => {
                        this.users = response.data
                        this.totalRows = this.users.length
                    } )
            },
            
            //    Pagination filter
            onFilter(filtered){
                this.totalRows = filtered.length
                this.currentpage = 1
            },
            
            deleteAccount(id){
                axios.delete('/api/users/' + id)
                    .then( () => {
                        this.getAllUsers();
                    } )
            },
            
            
            tryLogin(email, password){
                axios.post('/api/auth/login', {
                    email, password
                })
                .then( response => {
                    this.loginResp = response.data
                } )
            },
            
            resetCheckEmail() {
                axios.post('/api/auth/reset-check', this.reset_request)
                    .then( response => {
                        if (response.data.activation_code) {
                            this.isVerifiable = true;
                            this.reset_request.activation_code = response.data.activation_code;
                        }
                        this.reset_request.verified = response.data.verified;
                        console.log(response.data)
                    } )
            },

            resetPassword(){
                axios.post('/api/auth/reset-password', this.reset_request)
                    .then( (res) => {
                        this.$bvModal.hide('reset-password-modal')
                        console.log(res.data.msg, this.$bvModal)
                    } )
            }
        }
    }
</script>

